version: '2'
services:
  redis:
    image: redis:8.6.0
    ports:
      - "6379:6379"
  postgres:
    image: postgres:18.2
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: changeme

